@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Inter, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
}

/* Header element */

#header {
    padding: 1em 4em;
    height: 8em;
    width: 100%;
    display: flex;
    align-items: center;
}

#header * {
    vertical-align: middle;
}

#logo {
    height: 88px;
    width: auto;
    float: left;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

#header nav {
    height: 16px;
    margin-left: auto;
}

#header nav a {
    padding-left: 0.5em;
}

#header nav div {
    height: 16px;
    border-right: 1px solid black;
    padding-left: 0.5em;
    display: inline-block;
}

#header nav img {
    height: 16px;
    width: auto;
}

/* Body */

#body {
    padding-top: 1em;
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
}

/* Product */

#product {
    height: 584px;
}

#gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 104px;
    height: inherit;
    float: left;
}

.thumbnail {
    width: 104px;
    height: auto;
    border: 1px solid black;
}

#image-container {
    width: 464px;
    height: inherit;
    background-image: url("imgs/main.jpg");
    background-size: cover;
    background-position: bottom center;
    margin-left: 1em;
    margin-right: 1em;
    float: left;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    width: 332px;
    float: left;
}

#form {
    position: absolute;
    bottom: 0;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    margin: 0 !important;
}

h2 {
    font-weight: 300;
    font-size: 1.25em;
    margin: 1em 0 0.5em 0 !important;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0 0 0 0 !important;
}

li {
    margin-right: 0.5em;
}


button { 
    background-color: white;
    border: 1px solid black;
}

.sample {
    height: 40px;
    width: 40px;
}

#color1 {
    background-color: #FFAAA5;
    border-width: 3px;
}

#color2 {
    background-color: #FFD3B6;
}

#color3 {
    background-color: #FFD3B6;
}

#color4 {
    background-color: #A8E6CF;
}

#color5 {
    background-color: #FF8B94;
}

#pp {
    color: gray;
}

#m {
    font-weight: 700;
    border-width: 3px;
}

#quantity {
    height: 40px;
}

#submit {
    height: 56px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 2em;
}

button img {
    margin-right: 0.5em;
}

/* Carousel */

h3 {
    font-weight:500;
    text-transform: uppercase;
    margin: 2em 0 1em 0 !important;
}

#carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#carousel a {
    width: 212px;
}

.suggestion {
    height: 360px;
    width: inherit;
    margin-bottom: 1em;
    background-size: cover;
    background-position: bottom center;
}

#suggestion1 {
    background-image: url("imgs/touca.jpg")
}

#suggestion2, #suggestion2, #suggestion3, #suggestion4 {
    background-image: url("imgs/calça.jpg");
}

.name {
    float: left;
    margin: 0;
}
.price {
    float: right;
    margin: 0;
}

/* Footer */

footer {
    background-color: black;
    height: 136px;
    color: white;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer * {
    vertical-align: middle;
    display: inline-block;
}

footer p {
    margin-left: 8px;
}

address {
    font-style: normal;
    width: 944px;
    display: flex;
    margin: auto;
}

.contact {
    font-weight: 700;
    margin-left: 16px;
    float: right;
}

#contacts {
    margin-left: auto;
}

footer img {
    height: 24px;
    width: auto;
}

#store {
    float: left;
}
