@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Inter, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
}

/* Header element */

#header {
    padding: 1em 4em;
    height: 8em;
    width: 100%;
    display: flex;
    align-items: center;
}

#header * {
    vertical-align: middle;
}

#logo {
    height: 88px;
    width: auto;
    float: left;
}

nav {
    height: 16px;
    margin-left: auto;
}

nav a {
    padding-left: 0.5em;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

nav div {
    height: 16px;
    border-right: 1px solid black;
    padding-left: 0.5em;
    display: inline-block;
}

nav img {
    height: 16px;
    width: auto;
}

/* Body */

#body {
    padding: 1em 4em;
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
}

#gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 104px;
    float: left;
}

.thumbnail {
    width: 104px;
    height: auto;
    margin-bottom: 1em;
    border: 1px solid black;
}

#image-container {
    width: 464px;
    height: 584px;
    background-image: url("imgs/main.jpg");
    background-size: cover;
    background-position: bottom center;
    margin-left: 1em;
    margin-right: 1em;
    float: left;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    margin: 0 !important
}

h2 {
    font-weight: 300;
    font-size: 1.25em;
    margin: 0 0 0.8 !important
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0 0 0 0 !important
}

li {
    margin-right: 0.5em;
}


button { 
    background-color: white;
    border: 1px solid black;
}

.sample {
    height: 40px;
    width: 40px;
}

#color1 {
    background-color: #FFAAA5;
    border-width: 3px;
}

#color2 {
    background-color: #FFD3B6;
}

#color3 {
    background-color: #FFD3B6;
}

#color4 {
    background-color: #A8E6CF;
}

#color5 {
    background-color: #FF8B94;
}

#pp {
    color: gray;
}

#m {
    font-weight: 700;
    border-width: 3px;
}

#submit {
    padding: 0.55em;
    margin-top: 1em;
}

